.mDiv {
    margin-top: 50px;
    text-align: center;
}

.mDiv h1 {
    font-family: "Nunito", sans-serif;
}

.pDiv {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, auto));
    row-gap: 30px;
}

@media only screen and (max-width: 1050px) {
    .pDiv {
        flex-direction: column;
    }
    .pDiv {
        grid-template-columns: repeat(auto-fit, minmax(100%, auto));
    }
}

@media only screen and (max-width: 740px) {
    .mDiv {
        width: 100%;
    }
}