/* .CvCdiv {} */

.CvmDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.prevNextDiv {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.prev,
.next {
    padding: 0.5% 1%;
    border-radius: 5px;
    border-style: solid;
    border-color: gery;
    border-width: 1px;
    cursor: pointer;
}