.CvmDiv {
    margin-top: 20px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.CvBtnDiv {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.prev,
.next {
    padding: 0.5% 2%;
    border-radius: 5px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    cursor: pointer;
}

.prev {
    background-color: lightgreen;
}

.next {
    background-color: lightgreen;
}

.downloadIcon {
    color: grey;
}

.downloadIcon:hover {
    color: black;
}

.CvBtnDivLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: red; */
    width: 80%;
}


/* .CvBtnDivLeft, */

.CvBtnDivRight {
    position: absolute;
    top: 65px;
    right: 30px;
    /* background-color: lightgreen; */
}