@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.mDiv {
  margin-top: -18px;
  z-index: 1;
  background: rgba(1, 1, 1, 0.63);
  color: #fff;
  backdrop-filter: blur(11.5px);
  padding: 68px 100px;
}

.pTagMain {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 97px;
  color: #fd2155;
  margin-bottom: 24px;
}

.desPTag {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  width: 90%;
  margin-bottom: 30px;
}

.BtnPDiv {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.ReadMore {
  text-align: center;
  width: 193px;
  height: 47px;
  border: 1px solid #08fdd8;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  background-color: transparent;
  color: #08fdd8;
  transition: all 0.7s;
}

.downloadtext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  text-align: center;
  width: 193px;
  height: 47px;
  border: 1px solid #08fdd8;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  background-color: transparent;
  color: #08fdd8;
  transition: all 0.7s;
}

.downloadtext:hover,
.ReadMore:hover {
  box-shadow: inset -10.5em 0 0 0 #012b24, inset 10.5em 0 0 0 #012b24;
}
