@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.mDiv {
    position: relative;
    height: 650px;
    background-color: #000000;
    color: #fff;
    padding: 70px 0px 0px 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.PTagHeader {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 116px;
}

.PTagHeader span {
    color: #fd2155;
}

.skiilsPTag {
    margin-top: 21px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
}

.ImgReact {
    width: 321px;
    /* height: 693.46px; */
    /* background-color: red; */
    position: absolute;
    bottom: -64px;
    right: 54.3px;
    z-index: 0;
}

.GreyText {
    position: absolute;
    left: -42px;
    bottom: -80px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    line-height: 218px;
    color: #353535;
    z-index: 0;
}