.mDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
  margin-top: 14px;
  background-color: transparent;
}

.LinkedIn {
  margin-right: 30px;
  color: #0a66c2;
}

.Github {
  color: #fff;
}
